/* .details {
  display: block;
}

.book-img img {
  height: 175px;
  width: 30%;
  position: relative;
  right: 10px;
}

.book-img p {
  font-size: larger;
  font-weight: bolder;
  color: yellow;
  position: relative;
  right: 10px;
}

.description {
  
  display: block;
}

.read-more-read-less {
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0,0,0,.1);
  padding: 2rem;
  border-radius: .5rem;
}

.btn {
  background-color: transparent;
  border: none;
  font-weight: 500;
  color: rgb(10, 9, 9);
  cursor: pointer;
}
 */ 

 .details {
  /* display: block; */
  flex-direction: row;
  align-items: flex-start; 
}

.grid-container {
  display: grid;
  column-gap: 50px;
}

.grid-image {
  display: flex ;
  align-items: flex-start;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;


}

.grid-details {
  display : block;
  align-items: flex-end;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.book-img {
  height: 175px;
  width: 30%;
  position: relative;
  /* margin-right: 10rem; */
}

.book-img p {
  font-size: larger;
  font-weight: bolder;
  color: yellow;
  margin-top: 1rem;
}

.description {
  position: relative;
  display: block;
  /* display: -webkit-box; */
  /* -webkit-box-orient: vertical;
  -webkit-line-clamp: 15; */
  /* overflow: hidden; */
  margin-left: 16rem; 
  margin-bottom: 0rem; 
  /* flex-grow: 1; */
}

.read-more-read-less {
  background-color: #225f77; 
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); */
  padding: 2.5rem;
  border-radius: .5rem;
}

.btn {
  background-color: transparent;
  border: none;
  font-weight: 100;
  color: rgb(28, 4, 83);
  cursor: pointer;
  margin-top: 0rem;
  display:inline-block;
}
