.book-card:hover {
  cursor: pointer;
  transition: 0.6s;
  transform: translateY(-10px);
}

/* .book-card {
  transition: 0.7s;
} */

img {
  border-radius: 10px;
  width: 100%;
  height: 250px;
}

.p {
  width: 100%;
}

.close {
  font-size: 25px;
  color: white;
  font-weight: bolder;
  margin-left: 700px;
  margin-bottom: 20px;
}

.close:hover {
  cursor: pointer;
}

/* CSS for the modal overlay */
.modal-overlay {
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.modal {
  /* border: 1px red solid; */
  /* display: flex;
  flex-direction: column; */
  background-color: #10144b;
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal img {
  max-width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.modal p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.modal button {
  background-color: #fff;
  color: black;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 17px;
  width: 150px;
  height: 40px;
  padding: 4px;
  cursor: pointer;
  border: none;
}

.modal button:hover {
  background-color: #555;
}

/* Responsive styles  */
@media only screen and (max-width: 1020px) {
  .close {
    margin-left: 700px;
    /* margin-right: auto; */
    margin-bottom: 20px;
  }

  .modal {
    /* display: flex;
    flex-direction: column; */
    padding: 10px;
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .modal button {
    width: 100%;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .close {
    margin-left: 700px;
    /* margin-right: auto; */
    margin-bottom: 20px;
  }

  .modal {
    padding: 10px;
    width: 90%;
    max-height: 80vh;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 100px) {
  .close {
    margin-left: auto;
    margin-bottom: 20px;
  }

  .modal {
    display: inline-block;
    /* flex-direction: column; */
    width: 70%;
    max-height: 90vh;
  }
}
