.img-container {
  height: 55%;
  /* border: 1px red solid; */
  width: 250px;
  margin-right: 10px;
  background-color: rgb(14, 14, 20);
  border-radius: 7px;
}

.img-container img {
  height: 100%;
  width: 100%;
}

.img-container p {
  padding-top: 80px;
  font-size: 12px;
  font-weight: bolder;
}

.contents {
  width: 100%;
}

.contents .pa {
  margin-top: 15px;
  padding-right: 50px;
  /* border: 1px red solid; */
}

.event {
  color: white;
  font-weight: bolder;
  margin-right: 50px;
}

.event-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  background-color: rgb(14, 14, 20);
  margin-right: 40px;
  border-radius: 7px;
  width: 250px;
  height: 170px;
}

.no-events {
  margin-top: 65px;
  font-size: 12px;
  font-weight: bolder;
}
