.dashboard {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}

.dashboard-comp {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* border: 1px solid red; */
}

.calender-container {
  margin-left: 90px;
  height: 460px;
  width: 900px;
}

.infocenter-container {
  margin-left: 20px;
  width: 100%;
}
